body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 4em 6em;
  max-width: 768px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6em;
}

/* Text inputs */

.field {
  display: flex;
  width: 50%;
  margin-bottom: 1.25em;
}

.field label {
  flex: 1;
  padding: 0.15rem 0;
}

.field input {
  flex: 2;
  font-size: 16px;
  padding: 0.15rem;
  background: #ffff00;
  border: 0;
}

input:focus {
  outline: none;
}

/* Number inputs */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* input blocks */

.field-block {
  margin-bottom: 1.25em;
}

.block input {
  width: 40%;
  margin-top: 0.5em;
  font-size: 16px;
  padding: 0.15rem;
  background: #ffff00;
  border: 0;
}

/* inline inputs */

.inline-field {
  display: flex;
  margin-bottom: 1.25em;
}

.inline-field label {
  flex: 0 auto;
  padding: 0.15rem 0.15rem 0.15rem 0;
}

.inline-field input {
  flex: 1;
  font-size: 16px;
  padding: 0.15rem;
  background: #ffff00;
  border: 0;
}

/* short inline fields */

.short-field {
  display: flex;
  margin-bottom: 1.25em;
}

.short-field label {
  width: 6rem;
  padding: 0.15rem 0;
}

.short-field input {
  width: 1.5rem;
  font-size: 16px;
  padding: 0.15rem;
  background: #ffff00;
  border: 0;
}

/* radio buttons */

.field-radio {
  margin-bottom: 1.25em;
}

.radio {
  margin-top: 0.5em;
}

.radio input {
  position: fixed;
  opacity: 0;
}

.radio label {
  background: #ffff00;
  cursor: pointer;
  padding: 0.15rem;
}

input:checked + label {
  font-weight: 700;
}

/* Short radio buttons */

.short-radio {
  margin-bottom: 1.25em;
  display: flex;
}

.short-radio > label {
  width: 6rem;
}

.short-radio > .radio {
  margin-top: 0;
  margin-right: 0.5em;
}

.short-radio > .radio label {
  background: #ffff00;
  cursor: pointer;
  padding: 0.15rem;
}

/* checkboxes */

.checkbox label {
  background: #ffff00;
  cursor: pointer;

  padding: 0.15rem;
}

.field-checkbox {
  margin-bottom: 1.25em;
}

.checkbox {
  margin-top: 0.5em;
}

.checkbox input {
  position: fixed;
  opacity: 0;
}

.checkbox:last-child {
  margin-bottom: 1.25em;
}

/* errors */

input.error {
  background: red;
}

input[type="radio"].error + label {
  background: red;
}

/* buttons */

button {
  background: none;
  border: none;
  font-size: 16px;
  background: #ffff00;
  margin-top: 2em;
  padding: 0.45rem 0.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

button:last-child {
  margin-right: 0;
}

.match-textareas {
  display: flex;
}

.match-textareas textarea:first-child {
  margin-left: 0;
}

.match-textareas textarea:last-child {
  margin-right: 0;
}

.match-textareas textarea {
  flex: 1;
  margin: 0 10px;
  min-height: 200px;
}

.match-buttons {
  display: flex;
  justify-content: flex-end;
}

.match-buttons > .delete {
  background-color: red;
  color: #fff;
  margin-right: auto;
}

.match-buttons > button {
  margin-top: 1em;
}

/* form styles */

.invite-form {
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
}

/* responsive */

@media (max-width: 768px) {
  .container {
    padding: 3em 1.5em;
  }

  .field,
  .block input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .inline-field {
    flex-direction: column;
  }
}
